{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>about us</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="{% static "img/about-us.jpg" %}" alt="">
            <p>Kia Blog is a Django-powered blog platform built on top of a free HTML/CSS/Bootstrap template. While the front-end template (HTML, CSS, JavaScript, Bootstrap) was used as the visual foundation, the entire back-end was developed from scratch, including database models, views, authentication, and dynamic template rendering with Django's templating engine.</p>

            <br>

            <p>Key features implemented include a relational SQL database for posts and categories, a custom Django admin panel for content management, image upload handling for post thumbnails, view tracking for each post, and a secure user authentication system with Sign Up, Login, password hashing, and session-based authentication using Django's built-in authentication framework. This project was built to practice full back-end development, database design, authentication workflows, and integrating a static front-end with a dynamic Django backend.</p>

            <br>

            <p>Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a> | Back-end Development: <a href="https://github.com/Kia-Aalam" target="_blank">Kia Aalam</a></p>
          </div>
        </div>
        
      </div>
    </section>
{% endblock %}