{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Recent Posts</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for post in posts %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      {% if post.image %}
                      <img src="{{ post.image.url }}" alt="{{ post.title }}">
                      {% else %}
                      <img src="{% static "img/hello-world.png" %}" alt="{{ post.title }}">
                      {% endif %}
                    </div>
                    <div class="down-content">
                      {% if post.category %}
                      <span>{{ post.category.name }}</span>
                      {% endif %}
                      <a href="{% url 'post-details' post.id %}"><h4>{{ post.title }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ post.writer }}</a></li>
                        <li><a href="#">{{ post.date }}</a></li>
                        <li><a href="#">{{ post.view }} views</a></li>
                      </ul>
                      <p>{{ post.content|truncatewords:20 }}</p>
                    </div>
                  </div>
                </div>
                {% empty %}
                <div class="col-lg-12">
                  <p>No posts yet.</p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for recent in recent_posts %}
                        <li><a href="{% url 'post-details' recent.id %}">
                          <h5>{{ recent.title }}</h5>
                          <span>{{ recent.date }}</span>
                        </a></li>
                        {% empty %}
                        <li>No recent posts.</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for category in categories %}
                        <li><a href="{% url 'category_recent' category.id %}">- {{ category.name }}</a></li>
                        {% empty %}
                        <li>No categories yet.</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if posts.has_other_pages %}
      <div class="col-lg-12">
        <ul class="page-numbers">
          {% if posts.has_previous %}
            <li><a href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
          {% endif %}
          {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
              <li class="active">{{ i }}</li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %} 
          {% if posts.has_next %}
            <li><a href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
          {% endif %} 
        </ul>
      </div>
    {% endif %}

{% endblock %}